/* General Formatting */
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "lato", sans-serif;
}
html {
  height: 100%
}
body {
  background-color: #c69c6c;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* Header Formatting - 3 different for each HTML page variant */
.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(#303136, #c69c6c);
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}
.container2 {
  width: 100%;
  height: 150vh;
  background-image: linear-gradient(#303136, #c69c6c);
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}
.container3 {
  width: 100%;
  height:100%;
  background-image: linear-gradient(#303136, #c69c6c);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}
/* End Header Formatting */

/* Navbar Formatting */
.navbar {
  height: 12%;
  display: flex;
  align-items: center;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
  text-transform: uppercase;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

/* Branding */
.logo {
  width: 50px;
  cursor: pointer;
  border-radius: 50%;
}
.name {
  padding-left: 8px;
  color: #fff;
}
#title {
  color: transparent;
  font-size: 100px;
  height: 100%;
  width: 0;
  animation: text_reveal .5s forwards;
  animation-delay: .3s;
}

/* Buttons */
button {
  width: 180px;
  color: #000;
  font-size: 12px;
  padding: 12px 0;
  background: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
}

/* Back Button */
.glow-on-hover {
  width: 132px;
  height: 30px;
  border: none;
  outline: none;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
.glow-on-hover:hover {
  border: 1px solid #c69c6c;
}

/* Main Menu Separate cards - text */
.row {
  display: flex;
  height: 88%;
  align-items: center;
}
.col {
  flex-basis: 0%;
}

/* Main Text element formatting */
h1 {
  color: #fff;
  font-size: 50px;
  text-align: center;
}
h2 {
  color: #fff;
  padding: 20px;
  text-align: center;
}
h4 {
  color: #fff;
}
h5 {
  color: #fff;
  text-shadow: 0 0 5px #999;
}
p {
  color: #fff;
  font-size: 11px;
  line-height: 20px;
}
code {
  background-color: #636469;
  border-radius: 3px;
}
#codeBlock {
  background-color: #636469;
  border-radius: 3px;
  color: #ffffff;
}
a {
  color: #c69c6c;
}

/* Home Menu cards */
.card {
  width: 200px;
  height: 230px;
  max-height: 230px;
  max-width: 200px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  transition: transform 0.5s;
}
.card1 {
  background-image: url("https://img.icons8.com/clouds/500/000000/home-page.png");
}
.card2 {
  background-image: url("https://img.icons8.com/dusk/512/000000/command-line.png");
}
.card3 {
  background-image: url("https://img.icons8.com/dusk/512/000000/developer-mode.png");
}
.card4 {
  background-image: url("https://img.icons8.com/dusk/512/000000/software-box.png");
}
.card:hover {
  transform: translateY(-10px);
}
.card p {
  text-shadow: 0 0 15px #000;
  font-size: 8px;
}

/* Cards system version n°1 */
.column {
  display: flex;
  float: left;
  width: 20%;
  padding: 0 10px;
}
.rows {
  margin: 0 -5px;
  display: flex;;
}
.rows:after {
  content: "";
  display: table;
  clear: both;
}
.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  border-radius: 5px;
  min-height: 200px;
  max-height: 200px;
  padding: 16px;
  text-align: center;
  background-color: #303136;
  transition: transform 0.5s;
}
.cards:hover {
  transform: translateY(-5px);
}
.cards p {
  color: #c69c6c;
}

/* Cards system version n°2 */
.column2 {
  display: flex;
  width: 20%;
  padding: 0 10px;
}
.rows2 {
  margin: 0 -5px;
  display: flex;
  justify-content: center;
}
.rows2:after {
  content: "";
  display: table;
  clear: both;
}
.cards2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  min-height: 150px;
  border-radius: 5px;
  padding: 16px;
  text-align: center;
  background-color: #303136;
  transition: transform 0.5s;
}
.cards2:hover {
  transform: translateY(-5px);
}
.cards2 img {
position: center;
width: 20%;
}
.cards2 p {
  color: #c69c6c;
}

/* Cards system version n°3 */
.column3 {
  display: flex;
  width: 20%;
  padding: 0 0px;
}
.rows3 {
  margin: 0 -20px;
  display: flex;
  justify-content: center;
}
.rows3:after {
  content: "";
  display: table;
  clear: both;
}
.cards3 {
  min-height: 100px;
  text-align: center;
  background-color: transparent;
}
.cards3 img {
position: center;
width: 20%;
}
.cards3 p {
  color: #c69c6c;
}

/* Cards system version n°4 */
.column4 {
  display: flex;
  width: 60%;
  padding: 0 0px;
}
.rows4 {
  margin: 0 -20px;
  display: flex;
  justify-content: center;
}
.rows4:after {
  content: "";
  display: table;
  clear: both;
}
.cards4 {
  min-height: 100px;
  text-align: center;
  background-color: transparent;
}
.cards4 img {
position: center;
width: 20%;
}
.cards4 p {
  color: #c69c6c;
}

  /* Collapsibles for guides */
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  input[type='checkbox'] { 
      display: none; 
    } 
    .wrap-collabsible { 
        margin: 1.2rem 0; 
    } 
    .lbl-toggle { 
        display: block; 
        font-family: "Lato", sans-serif; 
        font-weight: bold;
        font-size: 1.2rem; 
        padding: 1rem; 
        color: #c69c6c; 
        background: #303136; 
        cursor: pointer; 
        border-radius: 7px; 
        transition: all 0.25s ease-out; 
    } .lbl-toggle:hover { 
        color: #FFF; 
    } 
    .lbl-toggle::before { 
        content: ' '; 
        display: inline-block;
        border-top: 5px solid transparent; 
        border-bottom: 5px solid transparent; 
        border-left: 5px solid currentColor; 
        vertical-align: middle; 
        margin-right: .7rem; 
        transform: translateY(-2px); 
        transition: transform .2s ease-out; 
    } 
    .toggle:checked+.lbl-toggle::before { 
        transform: rotate(90deg) translateX(-3px); 
    } 
    .collapsible-content { 
        max-height: 0px; 
        overflow: hidden; 
        transition: max-height .25s ease-in-out; 
    } 
    .toggle:checked + .lbl-toggle + .collapsible-content { 
        max-height: 1420px; 
    } 
    .toggle:checked+.lbl-toggle { 
        border-bottom-right-radius: 0; 
        border-bottom-left-radius: 0; 
    } 
    .collapsible-content .content-inner { 
        background: #303136; 
        padding: .5rem 1rem; 
    } 
    .collapsible-content p { 
        margin-bottom: 0; 
        font-size: 1rem;
        padding: 10px;
    }
    .content-inner li {
      color: #FFF;
      font-size: 0.7rem;
      padding: 2px;
    }

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width:1125px) {
  .col:last-child{
    position: fixed;
    top: 100%;
    left: 0;
  }
}

/* Detect size, adapt to screen */
@media only screen and (min-width:1125px){
  .col {
    flex-basis: 50%;
  }
}

/* Text Fade in Animation */
@keyframes text_reveal {
  100%{
    color: white;
  }
}